body {
    font-family: 'Amiri', serif;
    background-color: #2f2f2f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: #333;
    position: relative;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #d6efd8;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s ease-in-out, scaleIn 0.5s ease-in-out 1s;
  }
  
  .title-section h1,
  h2 {
    font-family: 'Cursive', cursive, sans-serif;
    font-size: 24px;
    color: #61756f;
    margin-bottom: 20px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  h2:hover {
    color: #272727;
    transform: scale(1.1);
  }
  
  .content-section p,
  .quote-section,
  h3 {
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h3 {
    color: #61756f;
  }
  
  .arabic {
    font-family: 'Amiri', serif;
    font-size: 25px;
    line-height: 1.8;
    color: #272727;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #80af81;
    padding: 2px;
    animation: popIn 1s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .latin {
    font-size: 17px;
    font-style: italic;
    padding: 10px;
    color: #4a4a4a;
  }
  
  .artine {
    font-size: 20px;
    color: #4a4a4a;
  }
  
  .translation {
    font-size: 18px;
    font-style: italic;
    color: #4a4a4a;
    margin-bottom: 15px;
  }
  
  .reference {
    font-size: 15px;
    color: #777;
  }
  
  .mempelai-container {
    justify-content: center;
  }
  
  .mempelai-container {
    background-color: #d6efd8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 15px 10px;
  }
  
  .couple-container {
    margin-top: 17px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 15px;
    padding-top: 10px;
    border-radius: 50px;
    background-color: #80af81;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .couple-card img {
    max-width: 80%;
    height: auto;
    border-radius: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
  }
  
  .couple-description {
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Amiri', serif;
  }
  
  .event-card {
    background-color: #80af81;
    border-radius: 70px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    animation: slideIn 1s ease-in-out;
  }
  
  .icon-section img {
    width: 50px;
    margin-bottom: 15px;
    transition: transform 0.3s ease-in-out;
  }
  
  .icon-section img:hover {
    transform: rotate(10deg);
  }
  
  #timer {
    font-size: 24px;
    color: #61756f;
    padding: 5px 1px;
    background-color: #d6efd8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: glow 3s infinite alternate;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@keyframes glow {
    0% {
        background-color: #80af81;
        color: #fff;
    }
    100% {
        background-color: #d6efd8;
        color: #61756f;
    }
}


  .event-card {
    padding: 40px;
  }
  
  .event-details p {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
  }
  
  .event-details h5 {
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
  }
  
  .event-details button {
    background-color: rgb(201, 201, 201);
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease, transform 0.3s ease-in-out;
  }
  
  .event-details button:hover {
    background-color: #a1a1a1;
    transform: scale(1.05);
  }
  
  .gallery-container {
    background-color: #d6efd8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 15px;
  }
  
  .icon {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .wedding-icon {
    width: 60px;
    height: 60px;
    fill: #4e3b63;
    transition: transform 0.3s ease-in-out;
  }
  
  .wedding-icon:hover {
    transform: rotate(360deg);
  }
  
  .slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
}

.mySlides {
    min-width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item.large {
    grid-column: span 2;
    height: 200px;
  }
  
  .form-container {
    width: 90%;
    max-width: 400px;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    margin-right: 5px;
  }
  
  .form-card {
    background-color: #80af81;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 15px;
    margin-right: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .form-card h2 {
    font-family: 'Cursive', cursive;
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-family: 'Cursive', cursive;
    font-size: 16px;
    color: white;
    text-align: left;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    background-color: #f5f5f5;
    color: #333;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
  }
  
  button:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
  }
  
  .gift-container {
    background-color: #d6efd8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  h1 {
    color: #61756f;
    font-size: 28px;
  }
  
  p {
    font-size: 18px;
    color: #61756f;
    margin-bottom: 20px;
  }
  
  .gift-options {
    color: #61756f;
  }
  
  .gift-option {
    border-radius: 10px;
    padding: 20px;
    color: #61756f;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 22px;
    color: #61756f;
  }
  
  .copy-button {
    background-color: #80af81;
    color: rgb(234, 234, 234);
  }
  
  .copy-button:hover {
    background-color: slategrey;
  }
  
  .thanks-section {
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .thanks-section h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #61756f;
  }
  
  .names {
    font-size: 17px;
    color: #61756f;
    font-weight: bold;
  }
  
  footer {
    background-color: #2f2f2f;
    justify-content: center;
    display: flex;
    position: relative;
    width: 100%;
  }
  
  .pooter {
    font-size: 10.1px;
    background-color: #d6efd8;
    text-align: center;
    padding: 10px;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes scaleIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes popIn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 768) {
    html {
      font-size: 100%;
    }
  }